<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.more.cjy">

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity
            android:name=".MainActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TitleBarActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
            android:name=".Project1Activity"
            android:hardwareAccelerated="false" />
        <activity android:name=".anim.AnimMainActivity" />
        <activity android:name=".anim.TranslationActivity" />
        <activity android:name=".anim.RotationActivity" />
        <activity android:name=".anim.ScaleActivity" />
        <activity android:name=".anim.AlphaActivity" />
        <activity android:name=".anim.MultiActivity" />
        <activity android:name=".anim.InterpolaterActivity" />
        <activity android:name=".anim.AnimatorActivity" />
        <activity android:name=".designpattern.DesignPatternMainActivity" />
        <activity android:name=".designpattern.singleton.SingletonActivity" />
        <activity android:name=".designpattern.builder.BuilderActivity"></activity>
    </application>

</manifest>